<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <br>
    <!-- Small boxes (Stat box) -->
    <div class="row ">
      <section class="col-lg-6 connectedSortable">
      <app-google-drive></app-google-drive>
      </section>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<!--<footer class="card-footer">-->
<!--  <strong>Copyright &copy; 2021 <a href="https://github.com/Damika-Anupama">Damika Anupama</a>.</strong>-->
<!--  All rights reserved.-->
<!--  <div class="float-right d-none d-sm-inline-block">-->
<!--    <b>Version</b> 1.0.0-->
<!--  </div>-->
<!--</footer>-->

